<div class="dashboard">

  <div class="wrapper">
    <div class="info_area">
      <div class="card_info orders">
        <div class="icon">
          <i class="fas fa-users"></i>
        </div>
        <div class="info">
          <p>Orders</p>
          <p></p>
        </div>
        <div class="infox">
          <h3>5</h3>
        </div>
      </div>
      <div class="card_info products">
        <div class="icon">
          <i class="fas fa-shopping-cart"></i>
        </div>
        <div class="info">
          <p>Products</p>
          <p></p>
        </div>
        <div class="infox">
          <h3>443</h3>
        </div>
      </div>
      <div class="card_info users">
        <div class="icon">
          <i class="fas fa-users"></i>
        </div>
        <div class="info">
          <p>Users</p>
          <p></p>
        </div>
        <div class="infox">
          <h3>5</h3>
        </div>
      </div>
      <div class="card_info cars">
        <div class="icon">
          <i class="fas fa-users"></i>
        </div>
        <div class="info">
          <p>cars</p>
          <p></p>
        </div>
        <div class="infox">
          <h3>5</h3>
        </div>
      </div>
    </div>

    <div class="main_area">
      <div class="main_top_area">

        <div class="ax_card">
          <section *ngIf="(orderState$ | async) as orderState">
          <div class="top_info">
            <div class="title">
              <h5>Orders</h5>
            </div>
            <div class="settings">
              <label for="itemPerPage">Items</label>
              <select name="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="reloadPagination()">
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
              </select>
              <button class="card_btn" (click)="addNew()">Add New Order</button>
              <button class="card_btn">Options</button>
            </div>

          </div>
          <div class="content">
            
              <table class="recent_orders">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Estimated Completion Date</th>
                    <th>Total Cost</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of paginatedOrders">
                    <td>{{order.orderId}}</td>
                    <td>{{order.orderDate}}</td>
                    <td>{{order.description}}</td>
                    <td>{{order.totalCost}}</td>
                    <td>{{order.status}}</td>
                    <td class="min">
                   
                      <button class="btn  btn-primary" (click)="editOrder(order)">View</button>
                      
                    </td>
                  </tr>
                </tbody>
              </table>
             

            
          </div>
          <div class="bottom">
            <app-pagination 
            *ngIf="orderState.dataState === DataState.LOADED" 
            [totalItems]="orders.length"
              [itemsPerPage]="itemsPerPage"
               [currentPage]="currentPage"
               (pageChanged)="changePage($event)"> </app-pagination>
          </div>
          </section>
          
        </div>
        <div class="ax_card">
          <div class="top_info">
            <div class="title">
              <h5>Orders</h5>
            </div>
            <div class="settings">
              <button class="card_btn">Add New Order</button>
              <button class="card_btn">Options</button>
            </div>

          </div>
          <div class="content">
            <table class="recent_orders">
              <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
              </tr>
              <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Berglunds snabbköp</td>
                <td>Christina Berglund</td>
                <td>Sweden</td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
              </tr>
              <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
              </tr>
              <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Königlich Essen</td>
                <td>Philip Cramer</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
              </tr>
              <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
              </tr>
              <tr>
                <td>North/South</td>
                <td>Simon Crowther</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Paris spécialités</td>
                <td>Marie Bertrand</td>
                <td>France</td>
              </tr>
            </table>
          </div>
        </div>

      </div>

      <div class="middle_area">
        <div class="ax_card">
          <div class="top_info">
            <div class="title">
              <h5>Orders</h5>
            </div>
            <div class="settings">
              <button class="card_btn">Add New Order</button>
              <button class="card_btn">Options</button>
            </div>

          </div>
          <div class="content">
            <table class="recent_orders">
              <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
              </tr>
              <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Berglunds snabbköp</td>
                <td>Christina Berglund</td>
                <td>Sweden</td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
              </tr>
              <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
              </tr>
              <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Königlich Essen</td>
                <td>Philip Cramer</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
              </tr>
              <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
              </tr>
              <tr>
                <td>North/South</td>
                <td>Simon Crowther</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Paris spécialités</td>
                <td>Marie Bertrand</td>
                <td>France</td>
              </tr>
            </table>
          </div>
        </div>


        <div class="ax_card">
          <div class="top_info">
            <div class="title">
              <h5>Orders</h5>
            </div>
            <div class="settings">
              <button class="card_btn">Add New Order</button>
              <button class="card_btn">Options</button>
            </div>

          </div>
          <div class="content">
            <table class="recent_orders">
              <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
              </tr>
              <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Berglunds snabbköp</td>
                <td>Christina Berglund</td>
                <td>Sweden</td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
              </tr>
              <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
              </tr>
              <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Königlich Essen</td>
                <td>Philip Cramer</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
              </tr>
              <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
              </tr>
              <tr>
                <td>North/South</td>
                <td>Simon Crowther</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Paris spécialités</td>
                <td>Marie Bertrand</td>
                <td>France</td>
              </tr>
            </table>
          </div>
        </div>


        <div class="ax_card">
          <div class="top_info">
            <div class="title">
              <h5>Orders</h5>
            </div>
            <div class="settings">
              <button class="card_btn">Add New Order</button>
              <button class="card_btn">Options</button>
            </div>

          </div>
          <div class="content">
            <table class="recent_orders">
              <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
              </tr>
              <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Berglunds snabbköp</td>
                <td>Christina Berglund</td>
                <td>Sweden</td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
              </tr>
              <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
              </tr>
              <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Königlich Essen</td>
                <td>Philip Cramer</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
              </tr>
              <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
              </tr>
              <tr>
                <td>North/South</td>
                <td>Simon Crowther</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Paris spécialités</td>
                <td>Marie Bertrand</td>
                <td>France</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>