<div class="dashboard">

  <div class="wrapper">
    <div class="info_area">

      <div class="card_info orders">
        <div class="icon">
          <i class="fas fa-users"></i>
        </div>
        <div class="info">
          <p>Orders</p>
        </div>
        <div class="infox">
          <h3>5</h3>
        </div>
      </div>

      <div class="card_info products">
        <div class="icon">
          <i class="fas fa-shopping-cart"></i>
        </div>
        <div class="info">
          <p>Products</p>
          <p></p>
        </div>
        <div class="infox">
          <h3>443</h3>
        </div>
      </div>

      <div class="card_info users">
        <div class="icon">
          <i class="fas fa-users"></i>
        </div>
        <div class="info">
          <p>Users</p>
          <p></p>
        </div>
        <div class="infox">
          <h3>5</h3>
        </div>
      </div>

      <div class="card_info cars">
        <div class="icon">
          <i class="fas fa-users"></i>
        </div>
        <div class="info">
          <p>cars</p>
          <p></p>
        </div>
        <div class="infox">
          <h3>5</h3>
        </div>
      </div>
      
    </div>

    <div class="main_area">
      <div class="main_top_area">
        <div class="ax_card">
          <section >
            <div class="top_info">
              <div class="title">
                <h5>Orders</h5>
              </div>
              <div class="settings">
                <label for="itemPerPage">Items</label>
                <select name="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="reloadPagination()">
                  <option [ngValue]="5">5</option>
                  <option [ngValue]="4">4</option>
                  <option [ngValue]="3">3</option>
                </select>
                <button class="card_btn" (click)="addNew()">Add New Order</button>
                <button class="card_btn">Options</button>
              </div>
            </div>
            <div class="content">

              <table class="recent_orders">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Description</th>
                    <th>Estimated Completion Date</th>
                    <th>Total Cost</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of paginatedOrders$ |async">
                    <td>{{order.orderId}}</td>
                    <td>{{order.dateReceived}}</td>
                    <td>{{order.description}}</td>
                    <td>{{order.estimatedCompletionDate}}</td>
                    <td>{{order.totalCost}}</td>
                    <td>{{order.status}}</td>
                    <td class="min">

                      <button class="card_btn" (click)="addNew(order)"> Edit Info Order </button>
                      <button class="card_btn" (click)="editOrder(order)"> Parts & Labor </button>

                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="bottom">
              <ng-container *ngIf="allOrders$ | async as allOrders">
        
              <app-pagination [totalItems]="allOrders.length"
                [itemsPerPage]="itemsPerPage"
                 [currentPage]="currentPage"
                  (pageChanged)="changePage($event)">
              </app-pagination>
              </ng-container>
            </div>
          
          </section>

        </div>
        <div class="ax_chart">
          <app-pie-chart></app-pie-chart>
          <div class="Label-info">
            <h3>Orders</h3>
            <p>Orders</p>
          </div>
        </div>
        <div class="ax_card">
          
        </div>


      </div>
     




    </div>
  </div>
</div>