<div class="wrapper">
   <div class="toggle_area">
    <button class="toggle" (click)="switchSidenav()" > X </button>
   </div>
   <div class="search_area">
    <input type="text" placeholder="Search">
    <button>Search</button>

   </div>
   <div class="right">
   <div class="nav_area">
    <ul>
     <li><a href="#">Home</a></li>
     <li><a href="#">About</a></li>
     <li><a href="#">Contact</a></li>
    </ul>
   </div>
   <div class="user_area">
      <div class="image">
       
      </div>
      <div class="info">
         <p>John Doe</p>
         <p>{{role | json}}</p>  
      </div>
      <div class="logout">
         <button (click)="logout()">Logout</button>
      </div>
      
   </div>
</div>



</div>