<div class="wrapper">
   <div class="logo_area">
      <img src="assets/images/logo.png" alt="logo">
   </div>
   <div class="toggle_area">
    <button class="toggle" (click)="switchSidenav()" >
      <i class='bx bx-menu'></i>
   </button>
   </div>

   <div class="right">
   <div class="nav_area">
    <ul>
     <li><a href="#">Home</a></li>
     <li><a href="#">About</a></li>
     <li><a href="#">Contact</a></li>
    </ul>
   </div>
   <div class="user_area">
      <div class="image">
       
      </div>
      <div class="info" (mouse)="toggleDropdown()" >
         <p>{{getName()}}</p>
         <p>{{role | json}}</p>

         <div class="drpdown-menu "  [class.show]="dropdownOpen" >
            <ul>
               <li>Profile</li>
               <li>Settings</li>
             

            </ul>
         </div> 
      </div>
      <div class="logout">
         <button (click)="logout()">Logout</button>
      </div>
      
   </div>
</div>



</div>