*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toggle{
    padding: 0.1rem 0.6rem;
    border-radius: 0.2rem;
}
.toggle_area{
    margin-left: 2rem;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 5.5rem;
    border-bottom: 1px solid #e9ecef;
    padding: 0.2rem 0.5rem ;
  
}
.logo_area{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_area img{
    width: 250px;
    height: auto;
    border-radius: 50%;
}
.right{
    display: flex;
    align-items: center;
}

.nav_area{
 
   justify-items: center;
   margin: 0 1rem;
}

.nav_area ul{
    display: flex;
    list-style: none;
}

.nav_area ul li{
    margin-right: 0.5rem;

   
}
.nav_area ul li:hover{
    background-color: #e9ecef;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.nav_area ul li:active{
    background-color: #e9ecef;
    border-radius: 0.5rem;
    transform: translateY(4px);
}
.nav_area ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 0.8rem;
}


 .search_area button{
    background-color: rgb(238, 235, 243);
    padding: 0.3rem 1.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
}
input{
    padding: 0.3rem 1.5rem;
    border-radius: 0.5rem;
    border-radius:  0.5rem 0 0 0.5rem ;
}

.user_area{
  
    text-align: center;
    font-size: 1.2rem;
   
}

.user_area img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: wrap;
}
.user_area .info{
    margin-left: 10px;
}

.user_area button{
    background-color: rgb(238, 235, 243);
    border-radius: 0.5rem;
    margin-left: 10px;
}
.user-info{
    position: relative;
    
}
.drpdown-menu{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 10000;
 
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);



    max-height: 0;
    
    overflow: hidden;
    transition: max-height 0.8s ease-in ;
   

}

.drpdown-menu ul li{
    list-style: none;
  padding: 0.2rem 0.6rem;
    border-bottom: 1px solid #e9ecef;
    text-align: center;
    cursor: pointer;
    
}

.drpdown-menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}


.drpdown-menu ul li:hover{
   background-color: bisque;
   transform: all 0.5s;
}

.drpdown-menu.show {
    max-height: 500px;
    opacity: 1;
   
    
    
}


  