<div class="header">
    <div class="top-title">
        <h1>Customers</h1>
        <button class="add_btn" (click)="addNewCustomer()">
            <i class='bx bx-add-to-queue'></i>
            Add New Customer
        </button>
    </div>
    <div class="main_content">
        <div class="content_section">
            <div class="search_section top">
                <div class="title ">
                    <h4>Search Customer</h4>
                </div>
                <input class="search" type="text" placeholder="Search for customer" [(ngModel)]="searchTerm"
                    (ngModelChange)="searchCustomer()">

            </div>
        
            <div class="loading" *ngIf="customerStatus === 'loading'">
                <app-spinner></app-spinner>
              
            </div>
            <div class="table_section" *ngIf="customerStatus !== 'loading' ">
                <table>
                    <thead>
                        <tr>
                            <th>Customer First Name</th>
                            <th>Customer Last Name</th>
                            <th>Customer Email</th>

                        </tr>
                        <tr>
                            <th colspan=4>
                                <hr>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let customer of customers$ | async" (click)="selectCustomer(customer)">
                            <td>{{customer.firstName}}</td>
                            <td>{{customer.lastName}}</td>
                            <td>{{customer.email}}</td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="content_section">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                        type="button" role="tab" aria-controls="nav-home" aria-selected="true">Basic Info</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
                </div>
            </nav>
            <div class="tab_content" *ngIf="!selectedCustomer">
                Customer not selected
            </div>
            <div class="tab-content" id="nav-tabContent" *ngIf="selectedCustomer">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <table class="info_table">
                        <tr>
                            <td>First Name: </td>
                            <td><input type="text" class="editing_input " [(ngModel)]="selectedCustomer.firstName "
                                    > </td>
                        </tr>
                        
                        <tr>
                            <td>Last Name : </td>
                            <td><input type="text" class="editing_input" [(ngModel)]="selectedCustomer.lastName "
                                    > </td>
                        </tr>
                        <tr>
                            <td>Address : </td>
                            <td><input type="text" class="editing_input" value="WIll be added later" disabled> </td>
                                   
                        </tr>
            
                        
                    </table>
                   

                </div>
                <div class="tab-pane fade " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                    <div class="info_area"><img src="" alt=" ">
                        <table class="info_table">
                            <tr>
                                <td>Id : </td>
                                <td><input type="text" class="editing_input " [ngModel]="selectedCustomer.customerId " disabled
                                        > </td>
                            </tr>
                            
                            <tr>
                                <td>Notes : </td>
                                <td><input type="text" class="editing_input" [(ngModel)]="selectedCustomer.notes " name="notes"
                                        > </td>
                            </tr>
                            <tr>
                                <td>Created By: </td>
                                <td> <input type="text" class="editing_input "  [ngModel]="selectedCustomer.createdBy" name="" id=""  disabled>
                        
                                </td>
                            </tr>
                            <tr>
                                <td>Created At : </td>
                                <td> <input type="text" class="editing_input "  [ngModel]="selectedCustomer.createdDate" name="" id=""  disabled>
                        
                                </td>
                            </tr>
                            <tr>
                                <td>Updated By: </td>
                                <td> <input type="text" class="editing_input"  [ngModel]="selectedCustomer.updatedBy" name="" id="" disabled>
                        
                                </td>
                            </tr>
                            <tr>
                                <td>Updated At : </td>
                                <td> <input type="text" class="editing_input" [ngModel]="selectedCustomer.updatedDate" name="" id="" disabled>
                        
                                </td>
                            </tr>

                            <tr>
                                <td>Active : </td>
                                <td> <input type="checkbox" [(ngModel)]="selectedCustomer.active" name="active" id="" >
                        
                                </td>
                            </tr>
                            
                        </table>
                       
    
             
                    </div>
                </div>
                <div class="tab-pane fade " id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="info_area">
                        <table class="info_table">
                            <tr>
                                <td>Email: </td>
                                <td><input type="text" class="editing_input " [(ngModel)]="selectedCustomer.email "
                                        > </td>
                            </tr>
                            
                            <tr>
                                <td>Phone : </td>
                                <td><input type="text" class="editing_input" [(ngModel)]="selectedCustomer.phone "
                                        > </td>
                            </tr>
                
                            
                        </table>
                    </div>
                </div>
               
                <div class="bottom">
                    <button class="bottom_button edit_btn" (click)="editCustomer(selectedCustomer)"
                    [disabled]="!hasCustomerChanged()" [ngClass]="{'disabled_button' : !hasCustomerChanged() }">
                        <i class='bx bx-edit'></i></button>
                    <button class="bottom_button delete_btn" (click)="deleteCustomer(selectedCustomer.customerId)">
                        <i class='bx bx-trash'></i></button>

                </div>

            </div>

        </div>


    </div>