*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.dashboard{
    width: 100%;
    background-color: blue;
    display: flex;
}

.dashboard-side{
    width: 10rem;
    height: 90vh;
    background-color: gray;
    padding:0.5rem;
    transition: 1s ease;
}
.dashboard-side.active{
    width: 5rem;
    height: 90vh;
    background-color: gray;
    padding:0.5rem;
}

.dashboard-content{
   flex-grow: 1;
   padding: 0.5rem;
}

