<!--<div class="dboard">

   <div class="dboard-container">
      <div class="dboard-side" [ngClass]="collapsed ? 'active' : ''">
         <app-sidenav [collapsed]="collapsed"></app-sidenav>
      </div>

      <div class="dboard-content">
         <app-header (isCollapsed)="switch()"></app-header>
         <div class="container">mainhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</div>
      </div>
   </div>


   <div class="dboard-footer">footerdddddddddddddddddddddddddddddddddddddddddddddddddd</div>
</div>-->

<div class="dashboard">

     
      <div class="dashboard-side" [ngClass]="collapsed ? 'active' : '' ">
         <app-sidenav [collapsed]="collapsed"></app-sidenav>
        
      </div>

      <div class="dashboard-content">
         <app-header (isCollapsed)="switch()"></app-header>
         <div class="container">mainhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh</div>
        
      </div>
   

   <div class="dashboard-footer"></div>
</div>