
* , *::before, *::after {
   padding: 0;
   margin:0;
   box-sizing: border-box;
}

.top{
   background-color: #c491e6;
   border-radius: 0.4rem 0.4rem 0 0;
   height: 40px;
   display: flex;
   color: white;
   align-items: center;
}