<ul class="pagination">
    
    <li [ngClass]="{disabled: currentPage == 1}">
        <a   (click)="pageClicked(currentPage - 1)">Previous</a>
    </li>
    <li *ngIf="totalPages>5 && currentPage !=1 "> <a   (click)="pageClicked(currentPage - 1)">...</a></li>
    <li *ngFor="let page of pagesToDisplay"
     [ngClass]="{active : page == currentPage} "
     (click)="pageClicked(page)" >
        <a href="javascript:void(0)">{{page}}</a>
    </li>
    <li *ngIf="totalPages>5 && currentPage < totalPages -4" > <a   (click)="pageClicked(currentPage - 1)">...</a></li>
    <li [ngClass]="{disabled: currentPage == totalPages}" >
        <a   (click)="pageClicked(currentPage +1)">Next</a>
    </li>

</ul>

