/* You can add global styles to this file, and also import other style files */
:root{
  --primary-color :#c491e6;
  --secondary-color: #5e28b4;
}



*  {
    padding: 0;
    margin:0;
    box-sizing: border-box;
  
}

/* ------------------   buttons      --------------------------*/
.my_btn{
  margin-top: 0.5rem;
padding: 0.2rem 0.5rem;
background-color: rgb(123, 123, 236);
border-radius: 0.5rem;
}

.modal_btn{
  background-color: var(--primary-color);
  color: white;
  padding: 8px 12px;
  margin: 6px 1px;
  border: none;
  border-radius: 0.35rem;
  cursor: pointer;
  flex: 1;
  font-size: 1.25rem;
}
.modal_btn:hover{
  background-color:var(--secondary-color);
}

.add_btn
{
  background-color: #c491e6;
  color: white;
  padding: 14px 20px;
  margin: 8px 2px;
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  width: 15rem;
  font-size: 1.25rem;
  box-shadow: 2px 2px 2px 2px #ccc;
}

.add_btn:hover{
  background-color: var(--secondary-color);
 }


 
 .bottom_button{
  background-color: var(--primary-color);
  color: white;
  padding: 6px 20px;
  margin: 8px 2px;
  border: none;
  border-radius: 0.35rem;
  cursor: pointer;
  width: 100%;
  font-size: 1.25rem;
}


 /*  --------------------  result area ------------------ */
 @keyframes fadeIn{
  from{
    opacity: 0;
    transform: translateY(-20px);
  } to {
    opacity: 1;
    transform: translateY(0);
  }
}


.search-input{
  opacity: 0.8;
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
}
.search-input:focus{
  outline: none;
  border: 1px solid var(--primary-color);
} 

.search-select{
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: initial;
  
}

 .result-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 100%;
  text-align: center;
  left: 0;
  padding: 0 10px;
  z-index: 1000;
  animation : fadeIn 1s ease-in-out;

}

.result-area{
  width: 100%;
  padding: auto;
}

.result-content{
  padding: 5px 0;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px #ccc;
}

.search-result-item{
  padding: 5px 0;
  background-color: aliceblue;
  border-bottom: 1px solid #d8d2d2;
  animation: fadeIn 0.5s ease-in-out;
}





/*------------------------- modal window ---------------------- */
.ax-group {
  position: relative;
  padding: 10px;
  flex: 1;

}



.flex-row{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.modal-footer{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
  padding: 0.5rem 3rem;

}



             /* ---------2 columns---------*/


.top{
    background-color: var(--primary-color);
    border-radius: 0.4rem 0.4rem 0 0;
    height: 40px;
    display: flex;
    color: white;
    align-items: center
  }

  .header{
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .modal_title , .page_title{
    font-size: 1.1rem;
    margin-left: 1rem;
  }
  .top-title{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main_content{
    padding: 0.8rem;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
}
.content_section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  
}


.search_section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem;
 
}
.search_section input{
  width:40%;
  padding:0.2rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
.table_section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0 0.8rem;
  
}

.v_form_content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;
  padding: 0 0.8rem;
}

.content{
  display: flex;
  justify-content: center;;
  padding: 0.8rem;
}

.bottom{

    border-radius: 0 0 0.4rem 0.4rem;
    height: 30px;
    margin-top: 1rem;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.info_area{
  padding : 0.85rem;
}


.vert_form_wrapper{
  width: 60%;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px 2px #ccc;
}

.vert_form_wrapper .form_group{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.8rem;
}

.form_group input:focus{
  border: 1px solid var(--primary-color);
  outline: none;
}
.modal_bottom{
  display: flex;
  justify-content:space-around;
  padding: 0.5rem 3rem;

} 

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.editing_input
{
 border:none;
  padding: 0.2rem;
  border-radius: 0.2rem;
}
.editing_input:focus{
  outline: none;
  border: 1px solid var(--primary-color);
}

.disabled_button{
  cursor: none;
  background-color: #fcf7f7;
  color: white;
  
}
.info_table{
  width: 100%;

}

.info_table tr{
  width: 100%;
      padding: 0 0.8rem;
  display:flex;
  justify-content:stretch;
  align-items: start;

}

.info_table td{
  min-width: 20%;
}

.no-focus{
  outline: none;
  pointer-events: none;
  background-color: #f1f1f1  ;
  border-radius: 0.2rem;
}


.test{
  border:1px solid red;
}

