


    <div class="sidebar" [ngClass]="collapsed ? 'collapsed' : ''">
        <div class="sidebar-content">

            <div class="sidebar-top">

                <div class="sidebar-logo">
                    {{collapsed}}
                </div>

                <div class="sidebar-user">
                    <div class="sidebar-user-image">
                        <img src="" alt="">
                    </div>
                    <div class="sidebar-user-info">

                    </div>
                </div>

            </div>

            <div class="sidebar-menu">

                <div class="sidebar-item">
                    <a href="">

                    </a>
                    <span>Dashboardkkkkkkkkkkkkkkkkkkkkkkkkkkk</span>
                </div>

            </div>

        </div>

    </div>


